<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pagina</title>
    <link rel="stylesheet" href="/css/style.css">
    <script src="/js/main.js"></script>
<body>
    
    <header class="header">

<div class="menu container">
    <a href="#" class="logo"><img src="../img/logo1.png" alt=""></a>
    <input type="checkbox" id="menu">
    <label for="menu">
        <img src="../img/menu.png" class="menu-icono" alt="menu">

    </label>
    <nav class="navbar">
        <ul>
            <li><a href="#">inicio</a></li>
            <li><a href="#">servicios</a></li>
            <li><a href="#">productos</a></li>
            <li><a href="#">contacto</a></li>
        </ul>

    </nav>
</div>

<div class="header-content container">
    <div class="header-txt">
        <h1>compra tu <span>juego</span> <br> favorito aqui</h1>
        <p class="texto1">
            En 1958 William Higginbotham creó, sirviéndose de un programa 
            para el cálculo de trayectorias y un osciloscopio,
             Tennis for Two (tenis para dos): 
             un simulador de tenis de mesa para entretenimiento de 
             los visitantes de la exposición Brookhaven National Laboratory.

        </p>
        <div class="butons">
            <a href="#" class="btn-4">Informacion</a>
            <a href="#" class="btn-1">juegos</a>

        </div>

    </div>

</div>




 </header>

 <section class="popular container">
    
    <h2>Juegos populares</h2>
    <div class="carrusel">
        <div class="carrusel2">
            <div class="popular-content">
                <div class="slide"><img src="../img/g1.jpg" alt=""></div>
                <div class="slide"><img src="../img/g2.jpg" alt=""></div>
                <div class="slide"><img src="../img/g3.jpg" alt=""></div>
                <div class="slide"><img src="../img/g4.jpg" alt=""></div>
                <div class="slide"><img src="../img/g5.jpg" alt=""></div>
                <div class="slide"><img src="../img/g6.jpg" alt=""></div>
                <div class="slide"><img src="../img/g7.jpg" alt=""></div> 
             </div>
        </div>   
    </div>


 </section>


         <main class="product-container">

            <h2 class="titulo_tdsjuegos">Todos lo juegos</h2>

            <div class="product-content">

                <div class="product-1">
                    <img src="../img/l1.jpg" alt="">
                    <div class="product-txt">
                        <h3>Juego Lorem</h3>
                        <div class="price">
                            <p>$1.000.000</p>
                            <a href="#" class="btn-2">comprar</a>

                        </div>

                    </div>

                </div>
                <div class="product-1">
                    <img src="../img/l2.jpg" alt="">
                    <div class="product-txt">
                        <h3>Juego Lorem</h3>
                        <div class="price">
                            <p>$1.000.000</p>
                            <a href="#" class="btn-2">comprar</a>

                        </div>

                    </div>

                </div>
                <div class="product-1">
                    <img src="../img/l3.jpg" alt="">
                    <div class="product-txt">
                        <h3>Juego Lorem</h3>
                        <div class="price">
                            <p>$1.000.000</p>
                            <a href="#" class="btn-2">comprar</a>

                        </div>

                    </div>

                </div>
                <div class="product-1">
                    <img src="../img/l4.jpg" alt="">
                    <div class="product-txt">
                        <h3>Juego Lorem</h3>
                        <div class="price">
                            <p>$1.000.000</p>
                            <a href="#" class="btn-2">comprar</a>

                        </div>

                    </div>

                </div>
                <div class="product-1">
                    <img src="../img/l5.jpg" alt="">
                    <div class="product-txt">
                        <h3>Juego Lorem</h3>
                        <div class="price">
                            <p>$1.000.000</p>
                            <a href="#" class="btn-2">comprar</a>

                        </div>

                    </div>

                </div>
                <div class="product-1">
                    <img src="../img/l6.jpg" alt="">
                    <div class="product-txt">
                        <h3>Juego Lorem</h3>
                        <div class="price">
                            <p>$1.000.000</p>
                            <a href="#" class="btn-2">comprar</a>

                        </div>

                    </div>

                </div>

                <div class="product-1">
                    <img src="../img/l7.jpg" alt="">
                    <div class="product-txt">
                        <h3>Juego Lorem</h3>
                        <div class="price">
                            <p>$1.000.000</p>
                            <a href="#" class="btn-2">comprar</a>

                        </div>

                    </div>

                </div>

                <div class="product-1">
                    <img src="../img/l8.jpg" alt="">
                    <div class="product-txt">
                        <h3>Juego Lorem</h3>
                        <div class="price">
                            <p>$1.000.000</p>
                            <a href="#" class="btn-2">comprar</a>

                        </div>

                    </div>

                </div>
                <div class="product-1">
                    <img src="../img/l9.jpg" alt="">
                    <div class="product-txt">
                        <h3>Juego Lorem</h3>
                        <div class="price">
                            <p>$1.000.000</p>
                            <a href="#" class="btn-2">comprar</a>

                        </div>

                    </div>

                </div>





            </div>


        </main>

        <section class="contact container">
            <div class="contact-content">
                <h3>Suscribete a nuestro blog</h3>
                <form>
                    <input type="email" placeholder="Escribe tu correo">
                    <input type="submit"  class="btn-3" value="Enviar">
                </form>

            </div>

        </section>

        <footer class="footer container">
            <div class="link">
                <a href="#" class="logo">logo</a>

            </div>
            <div class="link">
                <ul>
                   <li><a href="#">inicio</a></li>
                   <li><a href="#">servicios</a></li>
                   <li><a href="#">Productos</a></li>
                   <li><a href="#">Contacto</a></li>

                </ul>

            </div>



        </footer>


 


   

    





 
</body>
</html>